@if (category$ | async; as category) {
  <div class="page category" [attr.data-theme]="category.theme">
    <div class="wrap">
      <h1 class="display">{{ category.title }}</h1>

      @if (posts$ | async; as posts) {
        <app-h-carousel class="cards-carousel">
          @for (item of posts; track item.slug) {
            <a class="card" [routerLink]="['/article', item.slug]">
              <img [src]="item.cover" [alt]="item.cardTitle" />
              <span class="display overlay">
                {{ item.cardTitle }}
                @if (item.cardSubtitle) {
                  <br />{{ item.cardSubtitle }}
                }
              </span>
            </a>
          }
        </app-h-carousel>
      }

      <app-back-link [to]="backTo" />
    </div>
  </div>
}
